
/* Generics */ 
body {
    font-family: "Fredoka", sans-serif;
}

h1 {
    color: rgb(247, 61, 138);
    font-weight: 800;
}

/* Card Style */
#team-cards-container {
    gap: 20px;
}

.member-card {
  flex-basis: calc(100% /3 - 20px * 3 /2);
}

.member-image img {
    height: 100px;
}

.member-card a {
    color: #00aeff;
}

/* Form */ 
input {
    max-width: 30%;
}

/* Media Query */ 

@media screen and (max-width: 576px) {
#team-cards-container {
    flex-direction: column;
    gap: 5px;
}
    .member-card {
        width: 100%;
    }

    input {
        max-width: 100%;
    }
}